.admin-layout {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), var(--admin-layout-bg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 962px;
    margin: 0 auto;
}

.logo {
    padding: 22px 24px 18px 68px;
    display: flex;
    justify-content: flex-start;
}

.content {
    align-self: center;
    width: 100%;
    padding-bottom: 50px;
}

@media (max-width: 1024px) {
    .main {
        max-width: 100%;
    }

    .logo {
        padding: 24px 24px 18px 32px;
        justify-content: flex-start;
    }
}

@media (max-width: 390px) {
    .logo {
        padding: 18px 16px 14px 20px;
    }
}
