.page {
    padding-bottom: 32px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 990px;
    background: var(--background-client);
    padding: 20px 15px 24px;
    position: relative;
}

.container::before {
    content: '';
    background-image: var(--ticket-top-image);
    background-size: 9px;
    position: absolute;
    width: 100%;
    height: 3px;
    top: -2px;
    left: 0;
}

.container::after {
    content: '';
    background-image: var(--ticket-bottom-image);
    background-size: 9px;
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -3px;
    left: 0;
}

.header {
    font-weight: var(--font-bold);
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #C76F00;
    position: relative;
    padding: 25px 15px 21px;
    background: var(--background-client);
    margin-bottom: 5px;
    text-align: left;
}

.header::before {
    content: '';
    background-image: var(--ticket-top-image);
    background-size: 10px;
    position: absolute;
    width: 100%;
    height: 2px;
    top: -2px;
    left: 0;
}

.header::after {
    content: '';
    background-image: var(--ticket-bottom-image);
    background-size: 9px;
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -3px;
    left: 0;
}

.ticket-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.property {
    font-weight: var(--font-normal);
    font-size: 16px;
    line-height: 18px;
    text-align: left;
}

.property span {
    font-weight: var(--font-bold);
}

.button {
    align-self: flex-start;
    margin-top: 6px;
}

.qrCode {
    background: #fff;
    padding: 16px;
}

.instructions {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 2px;
    font-weight: var(--font-normal);
    font-size: 14px;
    line-height: 16px;
    text-align: left;
}

@media (max-width: 1024px) {
    .page {
        padding-bottom: 56px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 100%;
        padding: 20px 16px 24px;
    }

    .header {
        font-size: 16px;
        line-height: 18px;
        padding: 22px 16px 18px;
    }
}

@media (max-width: 390px) {
    .page {
        padding-bottom: 72px;
    }

    .button {
        align-self: center;
    }

    .header {
        font-size: 14px;
        line-height: 16px;
    }

    .qrCode {
        padding: 12px;
    }

    .qrCode svg {
        width: 180px !important;
        height: 180px !important;
    }
}
